.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Content.css */
footer {
  display: flex;
  flex-wrap: wrap;
}

.box1, .box2 {
  flex: 1;
  padding: 10px;
  margin-top: 190px;
}

.box2 img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  footer {
      flex-direction: column;
      align-items: center;
  }

  .box1, .box2 {
      flex: none;
      width: 100%;
  }

  .box2 img {
      max-width: 50%;
  }
}
/* Footer.css */
.last {
  padding: 20px;
  background-color: #006769;
  text-align: center;
  margin-top: 160px;
}

.last > div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.one, .two, .three, .four {
  margin: 20px;
}

.one h1 {
  font-size: 24px;
}

.last img {
  max-width: 100px;
  height: auto;
}

.last p {
  margin: 5px 0;
}

hr {
  margin: 20px 0;
}

.last .icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons > * {
  margin: 20px 10px;
  font-size: 40px;
}

/* Media Queries */
@media (max-width: 768px) {
  .last > div {
      flex-direction: column;
      align-items: center;
  }

  .one, .two, .three, .four {
      width: 100%;
      margin: 10px 0;
  }

  .icons > * {
      font-size: 30px;
  }
}
/* Header.css */
.header
{
  display: flex;
  height: 100px;
  width: 50%;
  margin-right: 800px;
  
}
.header img
{
  height: 100px;
  width: 100px;
}
ul
{
  list-style: none;
}
a
{
  text-decoration: none;
  margin: 10px 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      height: auto;
      padding: 10px 0;
  }

  .header img {
      margin-bottom: 10px;
  }

  .header ul {
      flex-direction: column;
  }

  .header ul li {
      margin: 10px 0;
  }

  .header .icons > * {
      font-size: 30px;
  }
}
