.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Content.css */
footer {
  display: flex;
  flex-wrap: wrap;
}

.box1, .box2 {
  flex: 1;
  padding: 10px;
  margin-top: 190px;
}

.box2 img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  footer {
      flex-direction: column;
      align-items: center;
  }

  .box1, .box2 {
      flex: none;
      width: 100%;
  }

  .box2 img {
      max-width: 50%;
  }
}
/* Footer.css */
/*.last {
  padding: 20px;
  background-color: #006769;
  text-align: center;

}

.last > div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.one, .two, .three, .four {
  margin: 20px;
}

.one h1 {
  font-size: 24px;
}

.last img {
  max-width: 100px;
  height: auto;
}

.last p {
  margin: 5px 0;
}

hr {
  margin: 20px 0;
}

.last .icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons > * {
  margin: 20px 10px;
  font-size: 40px;
}*/

/* Media Queries */
@media (max-width: 768px) {
  .last > div {
      flex-direction: column;
      align-items: center;
  }

  .one, .two, .three, .four {
      width: 100%;
      margin: 10px 0;
  }

  .icons > * {
      font-size: 30px;
  }
}
/* Header.css */
.header
{
  display: flex;
  height: 100px;
  width: 50%;
  margin-right: 800px;
  
}
.header img
{
  height: 100px;
  width: 100px;
}
ul
{
  list-style: none;
}
a
{
  text-decoration: none;
  margin: 10px 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .header {
      flex-direction: column;
      height: auto;
      padding: 10px 0;
  }

  .header img {
      margin-bottom: 10px;
  }

  .header ul {
      flex-direction: column;
  }

  .header ul li {
      margin: 10px 0;
  }

  .header .icons > * {
      font-size: 30px;
  }
}

/*ani wave*/
/*Footer with waves*/

body{
  background:white;
}
.footer {
  position: relative;
  background: #05b3a4;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:15%;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover{
	color: white;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.imgur.com/ZAts69f.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
